.layout-container {
	display: grid;
	grid-template-columns: 1fr;
	// justify-items: center;
	align-content: center;

	// min-height: 13rem;
	// width: 100%;

	&__header {
		display: grid;
		grid-template-columns: 1fr;

		&__title {
			justify-self: center;
			color: $color-text-light;
			padding: 3rem 2rem;
			padding-top: 6rem;
			// justify-self: center;
			// width: 100%;
		}

		&__button {
			&--next {
				background-color: $color-bg-light;
				position: absolute;
				right: 0;
				margin: 1rem;
			}

			&--prev {
				background-color: $color-bg-light;
				position: absolute;
				left: 0;
				margin: 1rem;
			}
		}
	}
}
