.home-container {
	display: grid;
	// justify-content: center;
	justify-items: center;

	&__top {
		display: grid;
		align-content: center;
		grid-gap: 4rem;
		justify-content: center;

		// height: 40vh;
		padding: 3rem 0;
		// padding-top: 10rem;
		// padding-bottom: 3rem;
		width: 50rem;

		@media only screen and (max-width: 45em) {
			padding: 3rem 2rem;
			width: 100vw;
		}

		&__custom-rows-contianer {
			display: grid;
			grid-gap: 2rem;
		}

		&__button {
			justify-self: end;
			background-color: $color-green;
			color: $color-white;
		}
	}

	&__bottom {
		display: grid;
		grid-gap: 4rem;
		padding: 3rem 8rem;
		width: 100vw;

		@media only screen and (max-width: 45em) {
			padding: 3rem 2rem;
			width: 100vw;
		}

		&__button {
			background-color: $color-yellow;
			// color: $color-white;
			justify-self: start;
		}

		&__cards-container {
			display: grid;
			grid-template-columns: repeat(auto-fit, 28rem);
			grid-gap: 4rem;
			justify-content: center;
		}
	}

	hr {
		// border: none;
		// background-color: red;
		// height: 1rem;
		width: 100%;
		// margin: 1rem;
	}
}
